# ONYXDATA CHALLENGE (APR 2022)

## Problem Statement

#### This month we are analyzing historic Formula 1 (F1) data! Can you identify the dominating drivers and constructors of Formula 1 (F1)!

## Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the dataset

In [2]:
df=pd.read_excel("F1 Results Data.xlsx")

C:\Users\sanke\AppData\Local\Temp/ipykernel_11480/635414010.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  df=pd.read_excel("F1 Results Data.xlsx")

In [3]:
df

,resultId,year,round,Event name,Event date,circuit name,lat,lng,code,Driver's forename,...,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status
0,1,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,HAM,Lewis,...,1,10.0,58,01:34:50.616,5690616.0,39.0,2.0,00:01:27.452000,218.300,Finished
1,2,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,HEI,Nick,...,2,8.0,58,01:34:56.94,5696094.0,41.0,3.0,00:01:27.739000,217.586,Finished
2,3,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,ROS,Nico,...,3,6.0,58,01:34:58.779,5698779.0,41.0,5.0,00:01:28.090000,216.719,Finished
3,4,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,ALO,Fernando,...,4,5.0,58,01:35:07.797,5707797.0,58.0,7.0,00:01:28.603000,215.464,Finished
4,5,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,KOV,Heikki,...,5,4.0,58,01:35:08.630,5708630.0,43.0,1.0,00:01:27.418000,218.385,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25395,25401,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,LAT,Nicholas,...,16,0.0,50,NaN,NaN,30.0,15.0,00:01:29.293000,212.912,Accident
25396,25402,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,GIO,Antonio,...,17,0.0,33,NaN,NaN,33.0,16.0,00:01:29.442000,212.557,Gearbox
25397,25403,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,RUS,George,...,18,0.0,26,NaN,NaN,23.0,19.0,00:01:30.647000,209.732,Gearbox
25398,25404,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,RAI,Kimi,...,19,0.0,25,NaN,NaN,23.0,18.0,00:01:29.698000,211.951,Brakes
25399,25405,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,MAZ,Nikita,...,20,0.0,0,NaN,NaN,NaN,0.0,NaN,NaN,Illness

## Understanding and preparation of the dataset

In [4]:
df.head(5)

,resultId,year,round,Event name,Event date,circuit name,lat,lng,code,Driver's forename,...,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status
0,1,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.968,HAM,Lewis,...,1,10.0,58,01:34:50.616,5690616.0,39.0,2.0,00:01:27.452000,218.300,Finished
1,2,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.968,HEI,Nick,...,2,8.0,58,01:34:56.94,5696094.0,41.0,3.0,00:01:27.739000,217.586,Finished
2,3,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.968,ROS,Nico,...,3,6.0,58,01:34:58.779,5698779.0,41.0,5.0,00:01:28.090000,216.719,Finished
3,4,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.968,ALO,Fernando,...,4,5.0,58,01:35:07.797,5707797.0,58.0,7.0,00:01:28.603000,215.464,Finished
4,5,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.968,KOV,Heikki,...,5,4.0,58,01:35:08.630,5708630.0,43.0,1.0,00:01:27.418000,218.385,Finished

In [5]:
df.tail()

,resultId,year,round,Event name,Event date,circuit name,lat,lng,code,Driver's forename,...,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status
25395,25401,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,LAT,Nicholas,...,16,0.0,50,NaN,NaN,30.0,15.0,00:01:29.293000,212.912,Accident
25396,25402,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,GIO,Antonio,...,17,0.0,33,NaN,NaN,33.0,16.0,00:01:29.442000,212.557,Gearbox
25397,25403,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,RUS,George,...,18,0.0,26,NaN,NaN,23.0,19.0,00:01:30.647000,209.732,Gearbox
25398,25404,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,RAI,Kimi,...,19,0.0,25,NaN,NaN,23.0,18.0,00:01:29.698000,211.951,Brakes
25399,25405,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,MAZ,Nikita,...,20,0.0,0,NaN,NaN,NaN,0.0,NaN,NaN,Illness

In [6]:
df.dtypes

resultId                              int64
year                                  int64
round                                 int64
Event name                           object
Event date                   datetime64[ns]
circuit name                         object
lat                                 float64
lng                                 float64
code                                 object
Driver's forename                    object
Driver's surname                     object
dob                          datetime64[ns]
Driver's nationality                 object
Constructor name                     object
constructor's nationality            object
Driver's  number                    float64
grid                                  int64
position                            float64
positionOrder                         int64
points                              float64
laps                                  int64
time                                 object
milliseconds                        float64
fastestLap                          float64
rank                                float64
fastestLapTime                       object
fastestLapSpeed                     float64
status                               object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25400 entries, 0 to 25399
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   resultId                   25400 non-null  int64
 1   year                       25400 non-null  int64
 2   round                      25400 non-null  int64
 3   Event name                 25400 non-null  object
 4   Event date                 25400 non-null  datetime64[ns]
 5   circuit name               25400 non-null  object
 6   lat                        25400 non-null  float64
 7   lng                        25400 non-null  float64
 8   code                       8819 non-null   object
 9   Driver's forename          25400 non-null  object
 10  Driver's surname           25400 non-null  object
 11  dob                        25400 non-null  datetime64[ns]
 12  Driver's nationality       25400 non-null  object
 13  Constructor name           25400 non-null  object
 14  constructor's nationality  25400 non-null  object
 15  Driver's  number           25394 non-null  float64
 16  grid                       25400 non-null  int64
 17  position                   14613 non-null  float64
 18  positionOrder              25400 non-null  int64
 19  points                     25400 non-null  float64
 20  laps                       25400 non-null  int64
 21  time                       6808 non-null   object
 22  milliseconds               6808 non-null   float64
 23  fastestLap                 6953 non-null   float64
 24  rank                       7151 non-null   float64
 25  fastestLapTime             6953 non-null   object
 26  fastestLapSpeed            6953 non-null   float64
 27  status                     25400 non-null  object
dtypes: datetime64[ns](2), float64(9), int64(6), object(11)
memory usage: 5.4+ MB

In [8]:
df.describe()

,resultId,year,round,lat,lng,Driver's number,grid,position,positionOrder,points,laps,milliseconds,fastestLap,rank,fastestLapSpeed
count,25400.000000,25400.000000,25400.000000,25400.000000,25400.000000,25394.000000,25400.000000,14613.000000,25400.000000,25400.000000,25400.000000,6.808000e+03,6953.000000,7151.000000,6953.000000
mean,12701.262165,1989.701811,8.332047,34.148282,5.440201,17.667756,11.198346,7.912954,12.917165,1.821301,45.847638,6.231234e+06,42.360564,10.442595,202.924488
std,7333.578775,19.051855,4.913406,25.360161,56.971018,14.951071,7.264100,4.796383,7.735366,4.073620,29.963303,1.687142e+06,16.901823,6.181816,21.314727
min,1.000000,1950.000000,1.000000,-37.849700,-118.189000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.070710e+05,2.000000,0.000000,89.540000
25%,6350.750000,1976.000000,4.000000,34.843100,-1.016940,7.000000,5.000000,4.000000,6.000000,0.000000,21.000000,5.412753e+06,32.000000,5.000000,192.647000
50%,12700.500000,1990.000000,8.000000,44.048100,5.971390,15.000000,11.000000,7.000000,12.000000,0.000000,52.000000,5.811778e+06,45.000000,10.000000,204.239000
75%,19050.250000,2006.000000,12.000000,49.254200,13.604200,23.000000,17.000000,11.000000,19.000000,2.000000,66.000000,6.432219e+06,54.000000,16.000000,215.914000
max,25405.000000,2021.000000,22.000000,57.265300,144.968000,208.000000,34.000000,33.000000,39.000000,50.000000,200.000000,1.509054e+07,85.000000,24.000000,257.320000

### Checking for missing values

In [9]:
df.isnull().sum()

resultId                         0
year                             0
round                            0
Event name                       0
Event date                       0
circuit name                     0
lat                              0
lng                              0
code                         16581
Driver's forename                0
Driver's surname                 0
dob                              0
Driver's nationality             0
Constructor name                 0
constructor's nationality        0
Driver's  number                 6
grid                             0
position                     10787
positionOrder                    0
points                           0
laps                             0
time                         18592
milliseconds                 18592
fastestLap                   18447
rank                         18249
fastestLapTime               18447
fastestLapSpeed              18447
status                           0
dtype: int64

##### There are missing values

### Treating missing values

#### Replacing the missing values in column 'code' with the first three characters of surname

In [10]:
df['code']=df['Driver\'s surname'].str[:3]

In [11]:
df['code']=df['code'].str.upper()

In [12]:
df.position

0        1.0
1        2.0
2        3.0
3        4.0
4        5.0
        ...
25395    NaN
25396    NaN
25397    NaN
25398    NaN
25399    NaN
Name: position, Length: 25400, dtype: float64

#### The 'position' column can be dropped as both 'position' and 'positionOrder' columns are the same

In [13]:
df.drop(['position'],axis=1,inplace=True)

#### The missing values in 'fastestLapSpeed', 'fastestLapTime', 'fastestLap' is because the drivers did not complete the race due to various reasons. So we will replace these values with 0 which means they did not complete the race

In [14]:
df['fastestLapSpeed'].fillna(value=0,axis=0,inplace=True)
df['fastestLapTime'].fillna(value=0,axis=0,inplace=True)
df['fastestLap'].fillna(value=0,axis=0,inplace=True)

In [15]:
df['rank'].fillna(value=0,axis=0,inplace=True)

In [16]:
df.drop(['time'],axis=1,inplace=True)

In [17]:
df['milliseconds'].fillna(value=0,axis=0,inplace=True)

In [18]:
df.isnull().sum()

resultId                     0
year                         0
round                        0
Event name                   0
Event date                   0
circuit name                 0
lat                          0
lng                          0
code                         0
Driver's forename            0
Driver's surname             0
dob                          0
Driver's nationality         0
Constructor name             0
constructor's nationality    0
Driver's  number             6
grid                         0
positionOrder                0
points                       0
laps                         0
milliseconds                 0
fastestLap                   0
rank                         0
fastestLapTime               0
fastestLapSpeed              0
status                       0
dtype: int64

In [19]:
df[["Country","Event"]] = df['Event name'].str.split(" ", n=1,expand = True)

In [20]:
df

,resultId,year,round,Event name,Event date,circuit name,lat,lng,code,Driver's forename,...,points,laps,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,status,Country,Event
0,1,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,HAM,Lewis,...,10.0,58,5690616.0,39.0,2.0,00:01:27.452000,218.300,Finished,Australian,Grand Prix
1,2,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,HEI,Nick,...,8.0,58,5696094.0,41.0,3.0,00:01:27.739000,217.586,Finished,Australian,Grand Prix
2,3,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,ROS,Nico,...,6.0,58,5698779.0,41.0,5.0,00:01:28.090000,216.719,Finished,Australian,Grand Prix
3,4,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,ALO,Fernando,...,5.0,58,5707797.0,58.0,7.0,00:01:28.603000,215.464,Finished,Australian,Grand Prix
4,5,2008,1,Australian Grand Prix,2008-03-16,Albert Park Grand Prix Circuit,-37.8497,144.9680,KOV,Heikki,...,4.0,58,5708630.0,43.0,1.0,00:01:27.418000,218.385,Finished,Australian,Grand Prix
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25395,25401,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,LAT,Nicholas,...,0.0,50,0.0,30.0,15.0,00:01:29.293000,212.912,Accident,Abu,Dhabi Grand Prix
25396,25402,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,GIO,Antonio,...,0.0,33,0.0,33.0,16.0,00:01:29.442000,212.557,Gearbox,Abu,Dhabi Grand Prix
25397,25403,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,RUS,George,...,0.0,26,0.0,23.0,19.0,00:01:30.647000,209.732,Gearbox,Abu,Dhabi Grand Prix
25398,25404,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,RÃ¤,Kimi,...,0.0,25,0.0,23.0,18.0,00:01:29.698000,211.951,Brakes,Abu,Dhabi Grand Prix
25399,25405,2021,22,Abu Dhabi Grand Prix,2021-12-12,Yas Marina Circuit,24.4672,54.6031,MAZ,Nikita,...,0.0,0,0.0,0.0,0.0,0,0.000,Illness,Abu,Dhabi Grand Prix

#### Converting the treated dataset into csv

In [21]:
df.to_csv('f1.csv', encoding='utf-8')

## Data Visualisation

#### 1.Number of events

In [22]:
a=pd.DataFrame(data=df['Event name'].unique())
a

                                0
0           Australian Grand Prix
1            Malaysian Grand Prix
2              Bahrain Grand Prix
3              Spanish Grand Prix
4              Turkish Grand Prix
5               Monaco Grand Prix
6             Canadian Grand Prix
7               French Grand Prix
8              British Grand Prix
9               German Grand Prix
10           Hungarian Grand Prix
11            European Grand Prix
12             Belgian Grand Prix
13             Italian Grand Prix
14           Singapore Grand Prix
15            Japanese Grand Prix
16             Chinese Grand Prix
17           Brazilian Grand Prix
18       United States Grand Prix
19          San Marino Grand Prix
20            Austrian Grand Prix
21           Argentine Grand Prix
22          Luxembourg Grand Prix
23          Portuguese Grand Prix
24             Pacific Grand Prix
25       South African Grand Prix
26             Mexican Grand Prix
27             Detroit Grand Prix
28               Dutch Grand Prix
29              Dallas Grand Prix
30  United States Grand Prix West
31               Swiss Grand Prix
32      Caesars Palace Grand Prix
33             Swedish Grand Prix
34           Abu Dhabi Grand Prix
35               Indianapolis 500
36            Moroccan Grand Prix
37             Pescara Grand Prix
38              Korean Grand Prix
39              Indian Grand Prix
40             Russian Grand Prix
41          Azerbaijan Grand Prix
42             Styrian Grand Prix
43    70th Anniversary Grand Prix
44              Tuscan Grand Prix
45               Eifel Grand Prix
46      Emilia Romagna Grand Prix
47              Sakhir Grand Prix
48         Mexico City Grand Prix
49          SÃ£o Paulo Grand Prix
50               Qatar Grand Prix
51       Saudi Arabian Grand Prix

#### 2.Number of circuits

In [23]:
b=pd.DataFrame(df['circuit name'].unique())
b

                                       0
0         Albert Park Grand Prix Circuit
1           Sepang International Circuit
2          Bahrain International Circuit
3         Circuit de Barcelona-Catalunya
4                          Istanbul Park
..                                   ...
71                     Baku City Circuit
72  Autodromo Internazionale del Mugello
73   AutÃ³dromo Internacional do Algarve
74          Losail International Circuit
75               Jeddah Corniche Circuit

[76 rows x 1 columns]

#### 3.Number of Years

In [24]:
c=pd.DataFrame(df.year.unique())
c

       0
0   2008
1   2007
2   2006
3   2005
4   2004
..   ...
67  2017
68  2018
69  2019
70  2020
71  2021

[72 rows x 1 columns]

#### 4.Number of Drivers

In [25]:
d=pd.DataFrame(df['Driver\'s forename'].unique())
d

            0
0       Lewis
1        Nick
2        Nico
3    Fernando
4      Heikki
..        ...
468  Nicholas
469    Pietro
470      Yuki
471      Mick
472    Nikita

[473 rows x 1 columns]